{% extends "base.html" %}

    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}" />
    {% endblock %}
	{% block body %}

		<!-- Header -->
			<section id="header" class="dark">
            <div class="content dark style1 featured">
				<header>
					<h1>欢迎来到天津中学</h1>
                    <p>天津市市直属中学</p>
				</header>
				<footer>
					<a href="#first" class="button scrolly">了解更多</a>
                </footer></div>
			</section>

		<!-- First -->
			<section id="first" class="main">
				<header>
					<div class="container">
						<h2>天津中学</h2>
                        <p>天津中学在市教委“三通两平台”的建设中，抢抓机遇，充分利用信息技术进行教育教学改革。以“e学通”泛在学习平台为基础的翻转课堂教学改革、以“云技术”支撑的综合素质评价开始实施。翻转课堂使学生的学习不再是封闭的有限的，而是开放的和拓展的，改变了教学结构和教学路径，将“先教后学、课后作业”转变为“先学后教、课内提升”，变被动地听讲为主动地探究。微视频将课上学和课下学、“一次学”为“反复学”、“统一学”为“选择学”进行有机结合，对利用现代信息技术手段努力形成主动学习、自主选择、合作探究、互助质疑、共同分享的新模式具有现实和长远的意义，为深化课堂教学改革注入了新的生机与活力。综合素质评价则以学生成长记录为突破口，从思想品德、学业水平、身心健康、艺术修养、社会实践五个维度对学生进行全面评价。初步形成了基础年级学业成绩、特色作业的数据库。内容包括日常行为表现、每次作文、实验报告、知识总结、文体特长、获奖情况等。学生成长记录从信息采集、输入审核、结果呈现、复议申请形成了基本框架，是对学生全面发展状况的观察、记录、分析的重要过程，体现了素质教育的精神。未来学生及家长可以用学籍号登录学校数据库随时查阅，了解总体情况。</p>
                    </div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon fa-clock"></span></span>
									<header>
										<h3>学校历史</h3>
									</header>
									<p>天津中学始建于2000年，是以天津这座城市名字命名的，是天津市教育两委直属国办重点中学之一、市首批示范高中校。坐落在天津著名的文化教育区、北方文化重要发祥地之一的南开区，毗邻滨海高科技园区和大学城。天津中学前身是始建于上世纪八十年代初期的天津市外语师范学校</p>
                                    <a href="#third" class="button scrolly">了解历史</a>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
									<header>
										<h3>师资力量</h3>
									</header>
									<p>优秀的师资是天津中学的“致胜法宝”，也是天津中学日新月异屡创新高的“秘密武器”。学校现拥有教职员工187人，其中，具备副高级以上职称人数占全体教师的42%。学校拥有一支师德高、观念新、业务精、科研型的一 流师资队伍，很多骨干教师成为天津基础教育的骨干力量。</p>
                                    <a href="#fourth" class="button scrolly">了解师资</a>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
									<header>
										<h3>校园环境</h3>
									</header>
									<p>学校占地近70亩，建筑面积32000m2，有教学楼、办公楼、实验楼、宿舍楼、食堂、报告厅、图书馆、电子阅览室、体育馆、游泳馆、9道400米塑胶跑道环绕的绿茵田径运动场、篮球场、生态园，教育教学设施属一 流水平。另有学生发展指导中心、天文台、机器人和航模小组活动专用教室等</p>
                                    <a href="#second" class="button scrolly">了解环境</a>
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Second --><!-- 背景渐变色从css.main > .content.style1中调整 -->
			<section id="second" class="main">
				<header>
					<div class="container">
						<h2>校园环境</h2>
						<p>天津中学始建于2000年，是以天津这座城市名字命名的，是天津市教育两委直属国办重点中学之一、市首批示范高中校。坐落在天津著名的文化教育区、北方文化重要发祥地之一的南开区，毗邻滨海高科技园区和大学城。天津中学前身是始建于上世纪八十年代初期的天津市外语师范学校</p>
					</div>
				</header>
				<div class="content dark style2">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-narrow">
								<section>
									<h3>校园环境</h3>
                                    <p>学校体育设施先进完备。体育馆5901㎡，建有8个室内羽毛球场和8个乒乓球场，8泳道室内游泳馆；体育看台924㎡，学校足球场7818㎡，9道400米塑胶跑道环绕着绿茵足球场，同时建有3个室外篮球场（实际面积420㎡/个，共约1470㎡）。学生公寓约9000㎡，食堂可供近800人用餐。</p>
                                    <p>学校建有生态园，占地4500㎡，分为6大功能区：动物区、智能温室区、大田作物区、组织培养区、葡萄长廊区、果树区，每个功能区都成为组织学生开展现代农业生产的实践与研究的平台。组培区配备了全光谱光照培养箱、60升的高压灭菌锅，无菌接种箱等先进的技术设备，这些为各年级生物选修课提供了支持，为学生探究现代前沿科学创造了条件</p>
								</section>
							</div>
							<div class="col-8 col-12-narrow">
								<div class="row">
									<div class="col-6"><a href="#" class="image fit"><img src="{{ url_for('static', filename='/images/pic01.png') }}" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="{{ url_for('static', filename='/images/pic02.jpg') }}" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="{{ url_for('static', filename='/images/pic03.png') }}" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="{{ url_for('static', filename='/images/pic04.jpg') }}" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="{{ url_for('static', filename='/images/pic05.jpg') }}" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="{{ url_for('static', filename='/images/pic06.png') }}" alt="" /></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Third -->
			<section id="third" class="main">
				<header>
					<div class="container">
						<h2>学校历史</h2>
						<p>天津中学始建于2000年，是以天津这座城市名字命名的，是天津市教育两委直属国办重点中学之一、市首批示范高中校。坐落在天津著名的文化教育区、北方文化重要发祥地之一的南开区，毗邻滨海高科技园区和大学城。天津中学前身是始建于上世纪八十年代初期的天津市外语师范学校</p>
					</div>
				</header>
				<div class="content dark style3">
					<div class="container">
						<span class="image featured"><img src="{{ url_for('static', filename='/images/pic02.jpg') }}" alt="" /></span>
						<div class="row">
							<div>
								<h3>天津中学建校历史</h3>
                                <p>天津中学始建于2000年，是以天津这座城市名字命名的，是天津市教育两委直属国办重点中学之一、市首批示范高中校。坐落在天津著名的文化教育区、北方文化重要发祥地之一的南开区，毗邻滨海高科技园区和大学城。天津中学前身是始建于上世纪八十年代初期的天津市外语师范学校。</p>
                                <p>1980年6月，根据市委领导同志指示，为适应四化建设需要，培养外国语人才，天津市教育局决定将天津市南开区第五十二中学高中改办为“天津市外国语职业学校”，学制三年，主要培养中等外语水平人才。</p>
                                <p>1986年12月，市政府决定将外语职业学校改办为普通师范学校，定名为“天津外语师范学校”，主要培养小学外语师资。一段时间以来，天津外师为我市中小学外语师资队伍建设与优化作出了重要贡献。</p>
                                <p>1992年12月，市政府决定，自1993年1月起，天津外语师范学校由南开区区属学校划归为市教育局直属师范学校，成为当时我市唯 一一所以培养小学外语师资为目标的市教育局直属中等专业师范学校，为我市基础教育领域培养了一大批英语学科教学骨干和学校拔尖管理人才，特别是师范学校的办学传统，使不断提升品德、学识、才艺等师范职业的基础素养成为师生的普遍追求。</p>
                                <p>2000年，为全国示范住宅区——华苑住宅区配套建设一所重点完全中学，天津外师整建制并入新组建的天津中学。此外，一批来自全国各地的教育教学名师先后调入天津中学工作。天津中学成为继“市五所”之后又一所市教育局直属的重点完全中学。</p>
							</div>
                        </div>
                    </div>
                </div>
			</section>

		<!-- Fourth -->
			<section id="fourth" class="main">
				<header>
					<div class="container">
						<h2>师资力量</h2>
						<p>优秀的师资是天津中学的“致胜法宝”，也是天津中学日新月异屡创新高的“秘密武器”。学校现拥有教职员工187人，其中，具备副高级以上职称人数占全体教师的42%。学校拥有一支师德高、观念新、业务精、科研型的一 流师资队伍，很多骨干教师成为天津基础教育的骨干力量。</p>
					</div>
				</header>
				<div class="content dark style3">
					<div class="container">
						<span class="image featured"><img src="{{ url_for('static', filename='/images/pic02.jpg') }}" alt="" /></span>
						<div class="row">
							<div>
								<h3>天津中学师资</h3>
                                <p>学校现有市级骨干教师七人，包括信息技术中心主任、信息技术高级教师杜云，历史特级教师李洋，教科室副主任、语文高级教师孟庆泉，人事室主任、历史高级教师李莉，生物学科组长、高级教师崔妍，化学学科组长、高级教师赵芸，英语学科组长、高级教师邓睿等。</p>
                                <p>党委原书记王慧，高级政工师，曾被评为天津市优秀党务工作者。</p>
                                <p>物理特级教师周传文，曾任天津中学党总支书记、副校长，后调任实验中学党总支书记。</p>
                                <p>语文特级教师吕政，曾任天津中学副校长。</p>
                                <p>王学玲，市政协委员，外语高级教师，曾任天津中学副校长，南开区民进主委、民进市委会常委。</p>
                                <p>庞苹，外语高级教师，民盟市委会委员、市政协委员。</p>
                                <p>弭金玲，特级教师，生物正高级教师，现任科研室主任。</p>
                                <p>王晓薇，正高级教师，现任教务处主任、化学正高级教师 ，“天津市五一劳动奖章”获得者。</p>
                                <p>邢成凯，德育处原主任，第八批援疆干部。2016年，被新疆自治区党委政府授予“省市优秀援疆干部人才”。2017年，被中组部、统战部、国家发改委、人社部联合授予“全国对口支援新疆先进个人”。曾任天津一中副校长。</p>
                                <p>原年级组长陈瑞彬，政治学科高级教师，曾任瑞景中学副校长、党委书记，现任瑞景中学校长。</p>
                                <p>原年级组长王红革，数学学科特级教师，曾任复兴中学副校长、校长。</p>
                                <p>科研室原副主任付强，现南开区教师发展中心副主任、正高级教师</p>
                                <p>特级教师李洋，现任历史学科组长。</p>
                                <p>阎为国，现任地理学科组长，天津市天文学会理事长、天津市地理学会理事、天津市气象学会理事、全国气象科普优秀辅导员、天津师大地理学院职业生涯指导教师。</p>
                                <p>牛成玉，原为甘肃省天水市教育科学研究所副所长、曾荣获天津市教育系统优秀教师、南开区第六届专业技术拔尖人才称号，天津市教委聘为天津市265工程骨干教师培训指导教师,天津师范大学历史文化学院特聘毕业生指导教师。2010年12月《中国教师报》以一个整版篇幅向全国推介“圈点批注式历史教学法”。</p>
                                <p>现任副校长王振英主管教学工作、数学高级教师，曾任南开区教育中心副主任、教研室副主任。她和我校教务处李登举副主任撰文《天津中学：以“动结构”适应新能力》刊发在2018年9月26日的《中国教育报》显著位置，详解天津中学适应高中招生考试制度改革的成功举措。</p>
                                <p>现任副校长赵隽劼，主管德育、后勤等工作，历任少先队大队辅导员、小学德育主任、市教委校舍管理中心科长，曾获天津市新长征突击手称号。</p>
                                <p>现任团委副书记傅钰，曾获天津市团干部称号、天津市新长征突击手称号。</p>
                                <p>现任德育处干部吕燕津，天津市师德先进个人、天津市市级优秀教师。</p>
							</div>
                        </div>
                    </div>
                </div>
			</section>

<!--Fourth
			<section id="fourth" class="main">
				<header>
					<div class="container">
						<h2>Sed feugiat ipsum consequat</h2>
						<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
						feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container medium">
						<form method="post" action="#">
							<div class="row gtr-50">
								<div class="col-6 col-12-mobile"><input type="text" placeholder="Name" /></div>
								<div class="col-6 col-12-mobile"><input type="text" placeholder="Email" /></div>
								<div class="col-12"><textarea name="message" placeholder="Message"></textarea></div>
								<div class="col-12">
									<ul class="actions special">
										<li><input type="submit" class="button" value="Send Message" /></li>
										<li><input type="reset" class="button alt" value="Clear Form" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
-->
		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<div class="copyright">
					<ul class="menu">
						<li>&copy; Blathroat. All rights reserved.</li><li>Design: <a href="#">HTML5 UP</a></li>
					</ul>
				</div>
			</section>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='/assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='/assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='/assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='/assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='/assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='/assets/js/main.js') }}"></script>

{% endblock %}