{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% block head %}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block body %}
<br><br>
<div class="container">
    {% for post in posts %}
    <div class="alert alert-light">
        <p>{{ post.articles }}</p>
    </div><br>
    {% endfor %}
</div>
{% if next_page %}
<div class="container">
    <a href="{{ url_for('posts_board',page = next_page) }}">下一页</a>
</div>
{% endif %}
{% if session.username %}
    <div class="container">
    {{ render_form(post_form) }}
    </div>
{% else %}
    <div class="container alert alert-warning">
        <p>请<a href="{{ url_for('login') }}">登录</a>后再发言吧</p>
    </div>
{% endif %}
{% endblock %}